@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background:rgb(246, 246, 246);
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins;
}

h1{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 500;
    color: rgb(185, 116, 185)
}

.warn{
    color:rgb(255, 0, 0);
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 10px rgb(238, 237, 237);
    text-align: center;
    margin:3px;
}

.success{
    color:rgb(0, 255, 0);
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 10px rgb(238, 237, 237);
    text-align: center;
    margin:3px;
}
.container{
    position:relative;
    margin: 0px auto;
    width:40%;
    /* height:515px; */
    background-color: white;
    box-shadow:15px 15px 70px grey;
    /* border: yellow 1px solid; */
}

section > input[type="text"]{
    width:100%;
    height:65px;
    padding:8px 8px 8px 50px;
    border: none;
    font-size:30px;
    font-family: Poppins;
    /* border: green 2px solid; */
    background-color:white;

}

section > input[type="text"]:focus{
    outline:none;
}

::placeholder { 
  color: grey;
  font-size: 25px;
  font-weight: 400;
  font-style:italic;
  opacity: 0.3;
  align-items: center;
}

.todos-display{
    border-top: #ccc 1px solid;
}

.all{
    /* border: red 3px solid; */
    height:100%;
    width:100%;
    background-color: white;
    height:100%;
    z-index: 4;
}

.active{
    /* border: pink 3px solid; */
    height:100%;
    width:100%;
    background-color: white;
    height:100%;
    z-index: 4;
}

.completed{
    /* border:white 5px solid; */
    height:100%;
    width:100%;
    background-color: white;
    height:100%;
    z-index: 4;
}

.listItem{
    font-size: 20px;
    font-family: poppins;
    font-weight: 500;
    list-style: none;
    padding: 6px 8px 6px 55px;
    background-color: white;
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    box-shadow: 0px 1px 10px rgb(238, 237, 237);
}

.listItem:hover{
    transform: scale(0.99);
    box-shadow: 1px 1px 10px rgb(238, 237, 237);
}

.tick{
    width:35px;
    border-radius: 50%;
    margin:3px;
}

.tick:hover{
    transform: scale(1.2);
}

.bin{
    width:35px;
    border-radius: 50%;
    margin: 3px;
}

.bin:hover{
    transform: scale(1.2);
}

.edit{
    width:35px;
    border-radius: 50%;
    margin: 3px;
}

.edit:hover{
    transform: scale(1.2);
}

.buttonAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}

/* Status Tab */

.status{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.status-btn{
    margin:0px 60px 0px 60px;
    background-color: white;
} 

.status-btn button{
    background-color: white;
    border-radius: 5%;
    border: #ccc 0px solid;
    padding: 3px;
}
.clear-btn button{
    background-color: white;
    border-radius: 5%;
    border: #ccc 0px solid;
    padding: 3px;
}

.count p span{
    background-color: white;
}

.status button:hover{
    transform: scale(1.1);
}

.status button:focus{
    border: #ccc 1px solid;
}

.status div{
    background-color: white;
    border: none;
}

.hidden{
    display:none;
}

